article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }



html {
	font-size: 62.5%;
}

body {
	font-size: 1.2rem;
	text-align: center;
	line-height: 35px;
	background-image: url(images/lights.jpg);
	background-repeat: no-repeat;
	color: #293C40;
	text-transform: uppercase;
}

.social {
	position: relative;
    left: 530px;
    top: 8px;
    display: block;
}

.stMainServices {
	height: 24px !important;
}

.stButton .stArrow {
	display: none !important;
}

.wrapper.top {
	margin: 1% auto;
}

.wrapper {
	width: 60%;
	margin: 1% auto;
	border: 2px solid #FCF5ED;
	background: rgba(255,255,255,0.5);
}

.suggestionWrapper {
	margin: 0 auto;
	display: none;
	padding: 20px;
	
}

.bottom {
	background: rgb(249, 245, 234);
}

h1 {
	text-transform: uppercase;
	font-size: 4.4rem;
	letter-spacing: 2px;
	font-family: 'Lora', serif;
	padding: 60px 0 17px 0;
	color: #293C40;
}


h2 {
	margin-bottom: 0;
    padding: 30px 0;
    padding-bottom: 20px;
 	font-family: 'Roboto', sans-serif;
    font-weight: thin;
    font-size: 1.5rem;
    color: #346069;
  

}

.line {
    height: 1px;
    width: 30px;
    background: black;
    margin: 0 auto;
    padding: 0;
    position: relative;
    top: 18px;
}

input[type=text].people {
	width: 50px;
	padding: 5px;
	border: 2px solid #EBE4D4;
	margin-left: 10px;
	background: rgb(253, 249, 244);
	color: black;
	border-radius: 5px 5px 5px 5px;

}

input[type=radio] {
	display: none;
}

input[type=radio] + label {
	width: 200px;
	height: 50px;
	z-index: 999;
	line-height: 50px;
	color: #68A7B8;
	margin: 25px;
	transition: all 0.2s;
	border: 2px solid #EBE4D4;
	background: rgb(253, 249, 244);
	padding: 10px 20px;
	border-radius: 5px 5px 5px 5px;
}

input[type=radio] + label:hover {
	cursor: pointer;
}

.typeOfEvent {
	padding: 15px;
}

input[type=radio]:checked + label {
	color: #346069;
}

input[type=radio]:unchecked + label {
	color: #F8F6EC;
}

input[type=text], select {
	text-align: center;
    padding: 5px 30px;
    font-size: 12px;
    width: 170px;
    margin-left: 5px;
	border: 2px solid #EBE4D4;
	background: rgb(253, 249, 244);
	color: black;
	border-radius: 5px 5px 5px 5px;

}

.allergy {
	width: 125px;
}

input[type=submit] {
	padding: 5px;
	margin: 40px 0;
	background: rgb(253, 249, 244);
	border: 4px solid #FCF5ED;
	color: #293C40;
	padding: 5px 20px;
	text-transform: uppercase;
	font-size: 1.4rem;
	font-weight: bold;
	border-radius: 5px 5px 5px 5px;
	font-family: 'Lora', serif;
}

section.recipes, section.artists {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

section.recipes div:nth-last-child(n+2), section.recipes div:nth-last-child(n+2) ~ div {
	flex: 1 0 50%;
}

section.recipes div:nth-last-child(n+3), section.recipes div:nth-last-child(n+3) ~ div {
	flex: 1 0 33.33%;
}

section.artists {
	width: 85%;
	margin: 0 auto;
}

select {
	 -webkit-appearance: none;
}

p {
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
	color: #346069;
}

a:hover {
	color: #68A7B8;
}


.wrapper.food {
	width: 80%;
	margin: 3% auto;
	border: 2px solid #FCF5ED;
	background: rgba(255,255,255,0.5);
}

h2.answerTitle {
	font-family: 'Lora', serif;
	font-size: 3.2rem;
} 


.recipes div {
	margin: 0 auto;
	padding: 15px;
}

.recipe div, .artists div {
	padding-bottom: 45px;
}

.recipes img {
	border: 2px solid #F8E9D6;
    padding: 10px;
    max-width: 100%;

}

.recipes img:last-child {
	padding: 0;
	border: none;
}

.recipes ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.recipes h2 {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Lora', serif;
	font-size: 1.8rem;
}

.innerWrapper-artists {
	margin: 10px;
	border: 2px solid #F8E9D6;
}

p.copyright {
	margin: 0;
	text-transform: uppercase;
	color: #346069;
	text-align: right;
	padding-right: 60px;

}





